<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.qingblog.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.qingfeng.qingblog.model.Article">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="publishDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="editTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pageView" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qingfeng.qingblog.model.ArticleWithBLOBs">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="publishDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="editTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pageView" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mdContent" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="htmlContent" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="summary" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, cid, uid, publishDate, editTime, state, pageView
  </sql>
  <sql id="Blob_Column_List">
    mdContent, htmlContent, summary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qingfeng.qingblog.model.ArticleWithBLOBs">
    insert into article (id, title, cid, 
      uid, publishDate, editTime, 
      state, pageView, mdContent, 
      htmlContent, summary)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{publishdate,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{pageview,jdbcType=INTEGER}, #{mdcontent,jdbcType=LONGVARCHAR}, 
      #{htmlcontent,jdbcType=LONGVARCHAR}, #{summary,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingfeng.qingblog.model.ArticleWithBLOBs">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="edittime != null">
        editTime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="pageview != null">
        pageView,
      </if>
      <if test="mdcontent != null">
        mdContent,
      </if>
      <if test="htmlcontent != null">
        htmlContent,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="pageview != null">
        #{pageview,jdbcType=INTEGER},
      </if>
      <if test="mdcontent != null">
        #{mdcontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlcontent != null">
        #{htmlcontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingfeng.qingblog.model.ArticleWithBLOBs">
    update article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null">
        editTime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="pageview != null">
        pageView = #{pageview,jdbcType=INTEGER},
      </if>
      <if test="mdcontent != null">
        mdContent = #{mdcontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="htmlcontent != null">
        htmlContent = #{htmlcontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qingfeng.qingblog.model.ArticleWithBLOBs">
    update article
    set title = #{title,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      editTime = #{edittime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      pageView = #{pageview,jdbcType=INTEGER},
      mdContent = #{mdcontent,jdbcType=LONGVARCHAR},
      htmlContent = #{htmlcontent,jdbcType=LONGVARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingfeng.qingblog.model.Article">
    update article
    set title = #{title,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      editTime = #{edittime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      pageView = #{pageview,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>